/* Memanggil class navbar-custom */
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.4) !important; /* Hitam transparan */
    backdrop-filter: blur(10px); /* Efek blur kaca */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}